$margin-huge: 64px;
$margin-large: 48px;
$margin-semi-large: 36px;
$margin-medium: 24px;
$margin-small: 12px;
$margin-mini: 6px;

$padding-huge: $margin-huge;
$padding-large: $margin-large;
$padding-semi-large: $margin-semi-large;
$padding-medium: $margin-medium;
$padding-small: $margin-small;
$padding-mini: $margin-mini;

$blue: #0165FE;

$grey-50: #F3F4F4;
$grey-100: #E8E9E8;
$grey-200: #D1D2D1;
$grey-300: #BABCBB;
$grey-400: #A3A5A4;
$grey-500: #8B8E8D;
$grey-600: #747876;
$grey-700: #5D625F;
$grey-800: #464B49;
$grey-900: #2F3532;

$font-12: 12px;
$font-16: 16px;
$font-24: 24px;
$font-36: 36px;
$font-48: 48px;
