$margin-huge: 64px;
$margin-large: 48px;
$margin-semi-large: 36px;
$margin-medium: 24px;
$margin-small: 12px;
$margin-mini: 6px;

$padding-huge: $margin-huge;
$padding-large: $margin-large;
$padding-semi-large: $margin-semi-large;
$padding-medium: $margin-medium;
$padding-small: $margin-small;
$padding-mini: $margin-mini;

$blue: #0165fe;

$grey-50: #f3f4f4;
$grey-100: #e8e9e8;
$grey-200: #d1d2d1;
$grey-300: #babcbb;
$grey-400: #a3a5a4;
$grey-500: #8b8e8d;
$grey-600: #747876;
$grey-700: #5d625f;
$grey-800: #464b49;
$grey-900: #2f3532;

$font-12: 12px;
$font-16: 16px;
$font-24: 24px;
$font-36: 36px;
$font-48: 48px;
